* {margin: 0%; padding: 0; box-sizing: border-box; font-family: sans-serif;}
.aboba {display: flex; align-items: center; justify-content: center;}
.col {display: flex; flex-direction: column; margin-left:3px;}
.knopvidpici {padding:10px; margin-right: 14px;}
h1 {text-align: center; margin: 10px;}
legend {text-align: center;}
.knopkaots {margin-right: 4px; margin-left: 3px;}
.ots {margin: 6px;}
.bajan {margin-left: 6px; margin-bottom: 6px; margin-right: 4px;}
.foto {width: 500px; height: 300px;}
.lemon {width: 300px; height: 300px;}
.karta {width: 300px; height: 300px;}
.knopka {padding: 2px; margin: 6px;}
.zakaz {margin-bottom:6px; margin-right: 4px;}
img {transition: transform .05s ease .02s, z-index .01s, .3s linear;}
.foto:hover {width: 514px; height: 308px;}
.lemon:hover {width: 308px; height: 308px;}
.karta:hover {width: 308px; height: 308px;}
.tex {font-weight:bold}
label {font-size: 80%;}
.dom {width: 60px; margin-right: 4px;}
.vul {width: 146px; margin-bottom: 4px; margin-right: 4px}
.kvart {width:82px;}
.abobaa {display: flex; margin-bottom: 4px;}
form {background: linear-gradient(to left bottom, rgb(234, 243, 250), rgb(234, 245, 255)); box-shadow: 0 0 10px rgba(0,0,0,0.5); border: none;}
.tema {position: relative; top:20px; left: 30px; text-decoration: none; color:white; text-decoration: none; padding: 4px; border: solid 2px black; font-size: 90%; text-align: center; border-radius: 16px; background-color: rgb(31, 31, 31);}
a:link, a:visited {color: rgb(189, 189, 189);}